<h1><%= data.character.longName %></h1>
<h2><%= data.player.username %></h2>

<h3>Strength</h3>
<p><%= data.character.stats.abilities.strength %></p>
<h3>Dexterity</h3>
<p><%= data.character.stats.abilities.dexterity %></p>
<h3>Consitution</h3>
<p><%= data.character.stats.abilities.constitution %></p>
<h3>Intelligence</h3>
<p><%= data.character.stats.abilities.intelligence %></p>
<h3>Wisdom</h3>
<p><%= data.character.stats.abilities.wisdom %></p>
<h3>Charisma</h3>
<p><%= data.character.stats.abilities.charisma %></p>
