<div class="col-md">
	<div class="row">
		<div class="col-md">
			<h1><%= data.character.longName %></h1>
			<small><%= data.player.username %></small>
			<hr class="text-white" />
		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<div class="row">
				<div
					class="d-flex justify-content-center align-items-center bg-info m-3 w-100"
				>
					<div class="col-md">
						<div class="row">
							<div class="col-md">
								<div class="row">
									<!-- prettier-ignore -->
									<div class="col-md px-3">
										<% const PATH_TO_SKILL_INCLUDE = "./includes/skill.ejs" %> 
										<%- 
											include(PATH_TO_SKILL_INCLUDE, {
												ability: {
													name: "Strength", 
													value: data.character.stats.abilities.strength 
												},
												skills:[ 
													{ 
														name: "Athletics",
														value:data.character.stats.skills.athletics.skill.value
													}
												]
										}) 
										%> 
										<%- 
											include(PATH_TO_SKILL_INCLUDE, {
												ability: {
													name: "Dexterity",
													value: data.character.stats.abilities.dexterity
												},
												skills: [
													{
														name: "Acrobatics",
														value: data.character.stats.skills.acrobatics.skill.value
													},
													{
														name: "Sleight of Hand",
														value: data.character.stats.skills.sleightOfHand.skill.value
													},
													{
														name: "Stealth",
														value: data.character.stats.skills.stealth.skill.value
													}
												]
											}) 
										%>
										<%- 
											include(PATH_TO_SKILL_INCLUDE, {
												ability: {
													name: "Constitution",
													value: data.character.stats.abilities.constitution
												},
											}) 
										%>
										<%- 
											include(PATH_TO_SKILL_INCLUDE, {
												ability: {
													name: "Intelligence",
													value:data.character.stats.abilities.intelligence
												},
												skills: [
													{
														name: "Arcana",
														value: data.character.stats.skills.arcana.skill.value
													},
													{
														name: "History",
														value: data.character.stats.skills.history.skill.value
													},
													{
														name: "Investigation",
														value: data.character.stats.skills.investigation.skill.value
													},
													{
														name: "Nature",
														value: data.character.stats.skills.nature.skill.value
													},
													{
														name: "Religion",
														value: data.character.stats.skills.religion.skill.value
													}
												]})
										%>
										<%- 
											include(PATH_TO_SKILL_INCLUDE, {
												ability: {
													name: "Wisdom",
													value: data.character.stats.abilities.wisdom
												},
												skills: [
													{
														name: "Animal Handling",
														value: data.character.stats.skills.animalHandling.skill.value
													},
													{
														name: "Insight",
														value: data.character.stats.skills.insight.skill.value
													},
													{
														name: "Medicine",
														value: data.character.stats.skills.medicine.skill.value
													},
													{
														name: "Perception",
														value: data.character.stats.skills.perception.skill.value
													},
													{
														name: "Survival",
														value: data.character.stats.skills.survival.skill.value
													}
												]
											})
										%>
										<%-  
											include(PATH_TO_SKILL_INCLUDE, {
												ability: {
													name: "Charisma",
													value: data.character.stats.abilities.charisma
												},
												skills: [
													{
														name: "Deception",
														value: data.character.stats.skills.deception.skill.value
													},
													{
														name: "Intimidation",
														value: data.character.stats.skills.intimidation.skill.value
													},
													{
														name: "Performance",
														value: data.character.stats.skills.performance.skill.value
													}
												]
											})
										%> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md">
			<div class="row my-5">
				<div class="col-md">
					<div class="d-flex justify-content-around">
						<div
							class="d-flex justify-content-center align-items-center bg-info"
						>
							<div class="col-md text-center">
								<h4><%= data.character.stats.speed %></h4>
								<p>Speed</p>
							</div>
						</div>
						<div
							class="d-flex justify-content-center align-items-center bg-info"
						>
							<div class="col-md text-center">
								<h4><%= data.character.stats.initiative %></h4>
								<p>Initiative</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row my-5">
				<div class="col-md">
					<div class="row">
						<div class="col-md bg-info">
							<div class="row">
								<div class="col-md">
									<div
										class="d-flex justify-content-center align-items-center"
									>
										<div class="col-md text-center">
											<h4><%= data.character.stats.armorClass %></h4>
											<p>Armor Class</p>
										</div>
									</div>
								</div>
								<div class="col-md">
									<div
										class="d-flex justify-content-center align-items-center"
									>
										<div class="col-md text-center">
											<h4>
												<%= data.character.stats.hitPoints.temporary
												%>
											</h4>
											<p>Temp Hit Points</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md">
									<div
										class="d-flex justify-content-center align-items-center"
									>
										<div class="col-md text-center">
											<h4>
												<%= data.character.stats.hitPoints.current
												%> / <%=
												data.character.stats.hitPoints.maximum %>
											</h4>
											<p>Hit Points</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md">
									<div
										class="d-flex justify-content-center align-items-center"
									>
										<div class="col-md text-center">
											<h4>
												<%= data.character.stats.hitPoints.hitDice
												|| 0 %>
											</h4>
											<p>Hit Dice</p>
										</div>
									</div>
								</div>
								<div class="col-md">
									<div
										class="d-flex justify-content-center align-items-center"
									>
										<div class="col-md text-center">
											<p>
												<%= "0 Successes" %> <br />
												<%= "0 Failures" %>
											</p>
											<p>Death Saves</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md bg-info my-3">
					<table class="table">
						<tHead>
							<tr>
								<th colspan="3">
									Attacks & Spells
								</th>
							</tr>
							<tr>
								<th>
									Name
								</th>
								<th>
									ATK Bonus
								</th>
								<th>
									Damage
								</th>
							</tr>
						</tHead>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md">
			<div class="row">
				<div class="col-md">
					<div class="col-md bg-info my-3">
						<div class="row">
							<div class="col-md">
								<h4>Personality Traits</h4>
								<p>
									Personality
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md">
								<h4>Ideals</h4>
								<p>
									Ideal
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md">
								<h4>Bonds</h4>
								<p>Bond</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md">
								<h4>Flaws</h4>
								<p>Flaw</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="col-md bg-info my-3">
						<div class="row">
							<div class="col-md">
								<h4>Features and Trait</h4>
								<dl>
									<dt>Spy</dt>
									<dd>Criminal Subvariant(PLACEHOLDER)</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 
<div class="col-md">
	<div class="row">
		<div class="col-md">
			<h1><%= data.character.longName %></h1>
			<p><%= data.player.username %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 text-center">
			<% Object.keys(data.character.stats.abilities).forEach( ability => { %>
			<% if (ability != "$init") { %>
			<div class="row">
				<h5>
					<%= ability.charAt(0).toUpperCase() + ability.substring(1) %>
				</h5>
				<p class="ability-score">
					<%= data.character.stats.abilities[ability] %>
				</p>
			</div>
			<% } %> <% }); %>
		</div>
		<div class="col-md-3">
			<% Object.keys(data.character.stats.skills).forEach( skill => { %> <%
			if (skill != '$init') { %>
			<div class="row">
				<div class="col-md">
					<h5>
						<%= skill.charAt(0).toUpperCase() + skill.substring(1)%>
					</h5>
				</div>
				<div class="col-md">
					<p>
						<%= data.character.stats.skills[skill].skill.value || 0 > 0 ? `+
						${data.character.stats.skills[skill].skill.value || 0}` :
						data.character.stats.skills[skill].skill.value || 0 %>
					</p>
				</div>
				<p>
					<%= data.character.stats.skills[skill].skill.proficiency ?
					"Proficient" : ""%>
				</p>
			</div>
			<% } %> <% }) %>
		</div>
		<div class="col-md">
			<div class="row">
				<div class="col-md">
					<h3>Hit Points</h3>
					<h4>Maximum: <%= data.character.stats.hitPoints.maximum %></h4>
					<h4>Current: <%= data.character.stats.hitPoints.current %></h4>
					<h4>
						Temporary: <%= data.character.stats.hitPoints.temporary %>
					</h4>
				</div>
			</div>
				<div class="row">
					<div class="col-md">
						<h3>Attacks</h3>
						<table>
							<thead>
								<tr>
									<td>
										Name
									</td>
									<td>
										Atk Bonus	
									</td>
									<td>
										Damage/Type	
									</td>	
								</tr>	
							</thead>
							<tbody>
								<tr>
									<td> Placeholder </td>
									<td> Placeholder </td>
									<td> Placeholder </td>
								</tr>	
							</tbody>	
						</table>		
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="row">
					<div class="col-md">
						<p>
							Hey! My name is! Placeholder
						</p>
						<h5>Personality Traits</h5>		
					</div>
				</div>
				<div class="row">
					<div class="col-md">
						<p>
							Hey! My name is! Placeholder
						</p>
						<h5>Ideals</h5>	
					</div>
				</div>
				<div class="row">
					<div class="col-md">
						<p>
							Hey! My name is! Placeholder
						</p>
						<h5>Bonds</h5>	
					</div>
				</div>
				<div class="row">
					<div class="col-md">
						<p>
							Hey! My name is! Placeholder
						</p>
						<h5>Flaws</h5>	
					</div>
				</div>
				<div class="row">
					<div class="col-md">
						<p>Features Placeholder</p>
						<h5>Features & Traits</h5>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div> -->
